*{
     font-family: "Poppins", sans-serif;
}
.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}
.btn-nav{
    border: 2px solid #422AD5;
    border-radius: 5px;
    color: #422AD5;
    font-weight: 600;
    font-size: 18px;
}
.synonym-style{
    border: 1px solid #e7e6f0;
    border-radius: 5px;
    color: #050318;
    font-weight: 500;
    font-size: 16px;
    padding: 8px;
}
.active{
    background-color: #422AD5;
    color: white;
}